* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.chat-section {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.chat-header {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  background-color: #f7f7f7;
 
}

.chat-header-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.chat-header-name {
  font-size: 18px;
  margin: 0;
  color: #000000;
  justify-content: flex-start;
}

.contact-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-self: flex-start;
}

.contact-info {
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: antiquewhite;
}

.slogan-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8px;
  font-style: italic;
}

.messages-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  gap: 5px;
  margin: 5px;

}

.my-message,
.contact-message {
  max-width: fit-content;
  padding: 10px 10px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  word-wrap: break-word;
}
.my-message {
  align-self: flex-end;
  background-color: #dcf8c6;
  gap: 5px  ; 
}

.contact-message {
  align-self: flex-start;
  background-color: #f1f0f0;
  border-bottom-left-radius: 0;
}

.info {
  display: flex;
  font-size: 10px;
  gap: 5px;
}

.info-contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 10px;
  gap: 5px;
}

.tick {
  color: rgb(33, 32, 32);
}




.send-button {
  margin-bottom: 15px;
  background-color: rgb(225, 199, 231);
  width: fit-content;
  text-align: center;
  align-self: center;
  margin: 10px;
  border: 1px;
  border-radius: 5px;
  white-space: nowrap;
  padding: 5px;

}

.message {
max-width: fit-content;
  font-size: 16px;
}

.contact-image-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
}

input {
  margin: 5px;
   width: 480px;
  border-radius: 5px;
  align-self: center;
}

.back-arrow img {
  width: 24px;
  height: 24px;
}

.icones-contact {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.chat-icon {
  width: 20px;
  height: 20px;
}

.last-message {
  flex: 1;
  text-align: center;
  font-size: 12px;
}

.last-message-and-time {
  display: flex;
  justify-content: space-between;
}

.lastConnectionClass {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 1000px) {
    .contact-card {
        width: 300px;
        padding: 16px;
    }

    .contact-image {
        width: 70px;
        height: 70px;
    }

    .contact-card h2 {
        font-size: 18px;
    }

    .contact-card p {
        font-size: 12px;
    }
    input{
      width: 250px;
    }
    
}