.contact-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
}

.contact-card a{
  text-decoration: none;
}
.contact-info {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left;
  gap: 4px;
}
.contact-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.name-slogan-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; 
  text-align: left;
  align-items: center;
  gap: 4px; 
  max-width: 80%; 
}
.name-slogan-container h2{
  color: black;
}
link{
  text-decoration: none;

}


.contact-slogan {
  font-style: italic;
  font-size: 14px;
  color: #555;
  margin-top: 4px;  
}

.last-message-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.last-message-time p {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  color: #000;
  margin: 0;
}

.last-connection {
  font-size: 12px;
  color: #000;
  white-space: nowrap;
  margin-left: 10px;
}

@media (max-width: 600px) {
    .contact-card {
        width: 300px;
        padding: 16px;
    }

    .contact-image {
        width: 70px;
        height: 70px;
    }

    .contact-card h2 {
        font-size: 18px;
    }

    .contact-card p {
        font-size: 12px;
    }
}